script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js"
)
link(href="/Semantic-UI-CSS-master/semantic.min.js")
script(
  type="text/javascript",
  href="/Semantic-UI-CSS-master/DataTables/datatables.js"
)
script(
  type="text/javascript",
  src="/Semantic-UI-CSS-master/DataTables/datatables.min.js"
)
script(
  type="text/javascript",
  src="/Semantic-UI-CSS-master/Semantic-UI-Alert.js"
)
script(
  type="text/javascript",
  src="/ajax/functionalGlobal.js"
)
//- script(src='https://code.jquery.com/ui/1.13.0/jquery-ui.js', integrity='sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k=', crossorigin='anonymous')
