link(
  rel="stylesheet",
  type="text/css",
  href="/Semantic-UI-CSS-master/semantic.min.css"
)
link(rel="stylesheet", type="text/css", href="/stylesheets/navbar.css")
link(
  rel="stylesheet",
  type="text/css",
  href="/Semantic-UI-CSS-master/Semantic-UI-Alert.css"
)
link(
  rel="stylesheet",
  type="text/css",
  href="/Semantic-UI-CSS-master/DataTables/datatables.css"
)
link(
  rel="stylesheet",
  type="text/css",
  href="/Semantic-UI-CSS-master/DataTables/datatables.min.css"
)
